<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>面談のお知らせです。</h1>
    <p>
      <%= @user_name %>さん<br>
      面談日時が決まりました。<br>
      下記URLから面談希望日の予約をお願いいたします。<br>

      学校の面談と提出アプリ<br>
      https://school-app-pta.herokuapp.com/<br>

      よろしくお願いいたします。
    </p>
  </body>
</html>
