<% provide(:button_text, '新規作成') %>
<% provide(:title, '新規作成') %>

<div id="meeting-top-title" class="meeting-top-title"><i class="fas fa-user-plus"></i><span style="color:#2C7CFF">保護者新規登録</span></div>

<div class="row" style="background:none";>
  <div class="col-md-8 col-md-offset-2">
    <%= render "user_form" %>
  </div>
</div>
<div class="text-center">
  <%= link_to "戻る", root_path, class:"btn btn-default btn-lg" %>
</div>

<style>
  body{
    background:#e0e0e0;
  }
  .col-md-8{
    background:#fffeee;
    padding:3% 8%;
    border-radius:6px;
    box-shadow:-1px 2px 3px 5px #d0d0d0;
  }
  .form-control{
    margin-bottom: 3%;
  }
</style>
