<h1><%= @user.name + @user.name2 %></h1>


<div id="top">

  <%= link_to "面談ページへ", user_meetings_new_user_path(user_id: @user.id, child_id: @child.id), class: "btn btn-success top-submit" %>

  <%= link_to "提出ページへ", "#", class: "btn btn-info top-submit" %>

</div>
