<%= form_with(url:document_item_create_path(@document), local: true,id:"form_id") do |form| %>
 
    <div class="field">
      <%= form.text_area :content, id: :document_item_content,rows:5,class:"form-control", style:"border-radius:15px;",placeholder:"提出物の保護者への質問を入力ください。" %>
    </div><br><br>

    <div class="actions">
      <%= form.submit "送信",class:"btn btn-primary btn-lg",style:"width:20%;" %>
   </div> 
<% end %>
