
<div class="row">
  <div class="col-md-12">
   <iframe src="<%= @document.pdf_link %>" width="100%" height="600"></iframe>
  </div>
</div><br>
<div style="border-top:1px dotted black"></div>
<a href="https://drive.google.com/file/d/1zAOyAZ0bksdecO6Dtn1R6Lir7XGupf9o/view" download>download</a> 
<style>
  body{background-color:#FFE4C4;}
</style>