<%= provide(:url,document_create3_path) %>

<div class="text-center text-default">
  <ul class="document_ul">
    <li id="document_img"><%= image_tag('/explain/pdf.png',size:"60x60",style:"display:inline") %><li>
    <li><h1 class="title_font">新規書類作成(表示)</h1></li>
  </ul>
</div>
<%= render 'form', document: @document %><br>

<%= link_to '戻る', teacher_path(1),class:"btn btn-default btn-lg",style:"margin-left:-1%;" %>
<style>
  body{ background-color:#3366CC;}
</style>