<% provide(:title, "保護者一覧") %>

<div id="meeting-top-title">
  <i class="fas fa-users" style="color: #000000;"></i>
  保護者一覧
</div>

<div class="user-index2">
  <table class="table table-striped users-table bg-warning">
    <thead id="users-thead">
      <tr>
        <td><i class="fas fa-users" style="color: #000000;"></i>ユーザー</td>
        <td class="smart-cell"><i class="far fa-envelope"></i>メールアドレス</td>
        <td class="smart-cell"><i class="fas fa-phone-alt"></i>電話番号</td>
        <td class="smart-cell"><i class="fas fa-user-slash"></i>削除</td>
      </tr>
    </thead>

    <tbody>
      <% @users.order(:id).each do |user| %>
        <tr>
        <% unless user.id == 1 %>  <!--教員管理用のユーザー取り除きました。-->
          <td>
            <div style="cursor: pointer;" class="user-smart">
              <i class="fas fa-user-circle"></i>
              <%= link_to "#{user.name + user.name2}", teacher_teacher_show2_path(@teacher, user) %>
            </div>
          <td class="smart-cell"><%= user.email %></td>
          <td class="smart-cell"><%= user.phone %></td>
          <td class="smart-cell">
            <%= link_to user_path(id: user.id, teacher_id: @teacher.id), data: {confirm: "本当に削除しますか？"}, method: :delete do %>
              <span style="color: red;"><i class="fas fa-user-slash"></i></span>
            <% end %>
          </td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<style>
  body {
    background-color: #badcad;
  }
</style>
