// Place all the styles related to the document_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#item_flash{
    display: block;
    width: 30%;
}
#document_item_add_p{
    color: darkblue;
    font-weight:bold;
}
/*   user     */
#document_user_table{
    th{
        background: #febf01; 
        background: -moz-linear-gradient(top,  #febf01 0%, #febf01 100%); 
        background: -webkit-linear-gradient(top,  #febf01 0%,#febf01 100%); 
        background: linear-gradient(to bottom,  #febf01 0%,#febf01 100%);
        border: 1px solid black;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#febf01',GradientType=0 );
    }
    td{border: 1px solid black;font-weight: bold;}
}
/*提出物期限案内分岐*/
#document_users_span{
    background: rgb(255,48,25);
    background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 30%, rgba(207,4,4,1) 30%);
    background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 30%,rgba(207,4,4,1) 30%);
    background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 30%,rgba(207,4,4,1) 30%);
    box-shadow: 3px 3px 3px cyan;
   
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
    color: #fff;
    font-weight: bold;
    padding: 6px;


}
#document_users_span2{
    background: rgb(143,196,0);
    background: -moz-linear-gradient(top,  rgba(143,196,0,1) 7%, rgba(143,196,0,1) 21%, rgba(143,196,0,1) 74%);
    background: -webkit-linear-gradient(top,  rgba(143,196,0,1) 7%,rgba(143,196,0,1) 21%,rgba(143,196,0,1) 74%);
    background: linear-gradient(to bottom,  rgba(143,196,0,1) 7%,rgba(143,196,0,1) 21%,rgba(143,196,0,1) 74%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=0 );
    color: #fff;
    font-weight: bold;
}
.use_icon{
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}