// Place all the styles related to the document_selects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#select_flash{
    display: block;
    font-size: 18px;
    width: 40%;
    
}
#teacher_document_table{
    background-color: #fff;
    th{background-color: orange;}
}
/* 保護者提出ページ */
.document_user_box {
    position: relative;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 5px #d6ebff;
    border: dashed 2px white;
    border-radius: 6px;
    padding: 0.2em 0.5em;
    color: #454545;
}
.document_user_box::after {
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #d6ebff #FFE4C4 #d6ebff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.document_box-title{
    background-color: rgb(93, 93, 172);
    color: rgb(255, 255, 255);
    padding: 6px;
}
.document_user_box p {
    margin: 0; 
    padding: 8px;
}
#document_user_question_h2{
    background: rgb(234,185,45);
    background: -moz-linear-gradient(top,  rgba(234,185,45,1) 0%, rgba(199,152,16,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
    background: linear-gradient(to bottom,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
    border-left:12px solid coral;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 );
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    font-size: 22px;
    font-weight: bold;
    padding: 18px;
    
}
.document_user_select{
    background-color: #fff;
    padding:15px 10px;
    border: 1px dotted #c0c0c0;
    border: none;
	border-radius: 10px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset,
                0 0 2px rgba(255, 255, 255, 0.3) inset,
                0 0 10px rgba(0, 0, 0, 0.1) inset,
                0 1px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    td{
        border-bottom:1px dotted #bbb;
    }
}
.document_select_radio{
   width: 2em;
   height: 2em;
   margin-top: 1%;
   
}
#document_dotted{
    display:block;
    width: 100%;
    height: 1px;
    border: 0;
    border-top: 1px dashed #cccccc;  
    margin-top: 3.2%;  
}
#document_select_label{
    display: block;
    margin-top:1%;
    margin-left: 1%;
    
}
.document_user_select_radio{
    display: block;
    margin-top: -4%;
    margin-left: 10%;
    
}
#document_download_title{
    font-size: 16px;
    margin-bottom: 2%;
}
/*保護者提出済みページタイトル*/
.document_user_submit_title{
   border-radius: 6px;
   background-color:#c0c0c0;
   color: #fff;
   font-size: 20px;
   padding: 16px;
}
#document_user_reply_show{
   
    background: #febf01; /* Old browsers */
    background: -moz-linear-gradient(top,  #febf01 0%, #febf01 100%); 
    background: -webkit-linear-gradient(top,  #febf01 0%,#febf01 100%); 
    background: linear-gradient(to bottom,  #febf01 0%,#febf01 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#febf01',GradientType=0 ); 
    color:#0000CD ;
    font-size: 20px;
    border-radius: 6px;
    border-left:20px solid red;
    padding: 22px;
    margin: 5% 0;
    margin-top:0;

}
#document_user_reply_table{
    background: #FFE4C4;
    margin-top: -4%;
   th{
    background: #8fc400; 
    background: -moz-linear-gradient(top,  #8fc400 0%, #8fc400 100%); 
    background: -webkit-linear-gradient(top,  #8fc400 0%,#8fc400 100%); 
    background: linear-gradient(to bottom,  #8fc400 0%,#8fc400 100%); 
   
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=0 );
    color:#fff;
    font-weight: bold;
    text-align: center;
    padding: 10px 30px;
   } 
   td{
       
       font-weight: bold;
   }

}
/*教員保護者回答確認ページ回答欄 */
#document_user_reply_div{
    width:100%;
    height: 150px;
    box-shadow: 2px 2px 2px cyan;
    border: 1px solid #c0c0c0;
    background: #fff;
    overflow: auto;
    span{
        background-color: blue;
        color: #fff;
        padding: 5px;
    }
}
.document_js_btn{
    background: #8fc400; 
    background: -moz-linear-gradient(top,  #8fc400 0%, #8fc400 100%); 
    background: -webkit-linear-gradient(top,  #8fc400 0%,#8fc400 100%); 
    background: linear-gradient(to bottom,  #8fc400 0%,#8fc400 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=0 );
    border: none;
    color:#0000bb;
}
/* 保護者提出ページここまで*/
/*選択肢作成ページ*/

#document_select_new_title{
    letter-spacing: 12px;
    font-size: 36px;
    margin-bottom: 2%;
    color: #006600;
}
#document_ul{margin-bottom: 4%;}
#document_select_new_link{
    margin-top: 10%;
    font-size: 20px;
}
#document_img img{
    width: 50px;
    height: 50px;
    margin-right: 1%;
}
#document_select_new_submit{
    width:24%;
    margin-right: 52%;
}
#document_select_finish_button{
    width:10%;
}
@media screen and (max-width:767px){
    #document_select_new_submit,#document_select_finish_button,#document_select_new_question_button{
        width:100%;
        margin-bottom: 2%;
    }
    #document_select_new_title{
        font-size: 24px;
    }
    #document_img img{
        width: 30px;
        height: 30px; 
    }
    #document_select_new_title{
        margin-bottom: -1%;
    }
    #select_flash{
        width: 100%;
    }
  .document_select_radio{
        width: 2.3em;
        height: 2.3em;
        margin-left: 20%;
        
    }  
  #document_select_label{
    display: block;
    width: 100%;
    margin-top:2%;
    margin-left: 1%;
  }
  .document_user_select_radio{
    display: block;
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin-top: -14%;
    margin-left: 30%;
  }
  .document_user_select td{
      padding:20px;
  }

}