// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
.title_font,.document_label{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    margin-top: 2%;
}
.row{
    background-color: #fff;
    border-radius:8px;
    padding-bottom: 2%;
}
.alert2{
    display: block;
    width: 30%;
}
.document_ul{
    margin:0;
    padding:2%;
    list-style: none;
    li{
        display: inline-block;
        text-decoration: none;
    }
    #document_img{
      padding:1%;
    }
    .title_font{margin-top: 3%;}

}
#document_edit_itemarea{
    background-color: #fff;
    border-radius: 8px; 
    margin-top: 2%;
    padding: 1% 0;
    width: 100%;

}
#document_item_edit_header{
    background-color: #996633;
    border-left: 14px solid red;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    margin-top: 2%;
    padding: 12px;
    
}
#document_itemedit_table{
    background-color: #d0bf86;
    border-radius: 9px;
    th{font-size: 18px;}
    td{
        text-align: left;
    }
}
#document_edit_modal-h3{
    background-color: #4e9977;
    border-left: 8px solid #996633;
    border-radius:6px;
    color: #4933ca;
    font-weight:bold;
    font-size: 22px;
    padding: 18px;
    
}
#document_modal_table{
    background-color: #fff;
    th{background-color: bisque;}
}
/* スマホ用レイアウト */
@media screen and (max-width:767px){
  .text-center{
      margin-top:10%;
  }    
}