// Place all the styles related to the document_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#item_flash{
    display: block;
    width: 30%;
}
#document_item_add_p{
    color: darkblue;
    font-weight:bold;
}