// Place all the styles related to the document_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
#item_flash{
    display: block;
    width: 30%;
}
#document_item_add_p{
    color: darkblue;
    font-weight:bold;
}
#document_img img{
    width: 60px;
    height: 60px;
 }
 #document_item_new_button{
     width: 20%;
 }
 #document_item_new_button2{
    width: 20%;
 }
/*   user     */
#document_user_table{
    background-color:#fff;
    th{background-color: orange;}
}
#document_user_table_phone{
    display: none;
}
/*提出物期限案内分岐*/
#document_users_span{
    background-color: red;
    padding: 2px 6px;
    color: #fff;


}
#document_users_span2{
    background: rgb(143,196,0);
    background: -moz-linear-gradient(top,  rgba(143,196,0,1) 7%, rgba(143,196,0,1) 21%, rgba(143,196,0,1) 74%);
    background: -webkit-linear-gradient(top,  rgba(143,196,0,1) 7%,rgba(143,196,0,1) 21%,rgba(143,196,0,1) 74%);
    background: linear-gradient(to bottom,  rgba(143,196,0,1) 7%,rgba(143,196,0,1) 21%,rgba(143,196,0,1) 74%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=0 );
    color: #fff;
    font-weight: bold;
}
.use_icon{
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*入力式質問ページ*/
#document_new_item_title{ /*タイトル*/
    color: #8B0000;
    font-size: 38px;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    letter-spacing: 10px;
}
#document_new_item_title2{
    color: #007700;
    font-size: 38px;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    letter-spacing: 10px;
}
#document_new_item_link{
    text-decoration:underline;
    font-size:24px;
    display: block;
    margin-top: -2%;
}
/*入力式質問ページ*/
@media screen and (max-width:767px){
    #document_new_item_title,#document_new_item_title2{
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 4px;
        margin-bottom: -10%;
    }
    #document_new_item_link{
        margin-top: -5%;
        font-size: 16px;
    }
    #document_new_item_div{
        margin-bottom:4%;
        #document_new_item_label{
            padding: 3% 20%;
        }
    }
    #document_img img{
        width: 40px;
        height: 40px;
     }
     #document_item_new_button{
        width: 100%;
        margin-bottom: 3%;
    }
    #document_item_new_button2{
        width: 100%;
     }
     #item_flash{
         width: 100%;
     }
     #document_user_table{
       display: none;
    }
     #document_user_table_phone{
         display: table;
         th{background-color: orange;}
         td{
             vertical-align: middle;
         }
     }
    
}