// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
.title_font,label{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    margin-top: 2%;
}
.row{
    background-color: #fff;
    border-radius:8px;
    padding-bottom: 2%;
}
.alert2{
    display: block;
    width: 30%;
}
.document_ul{
    margin:0;
    padding:2%;
    list-style: none;
    li{
        display: inline-block;
        text-decoration: none;
    }
    #document_img{
      padding:1%;
    }
    .title_font{margin-top: 3%;}

}
/* スマホ用レイアウト */
@media screen and (max-width:767px){
  .text-center{
      margin-top:10%;
  }
}
