
/* ページタイトル */

#meeting-top-title {
  text-align: center;
  font-size: 50px;
  font-family: 'M PLUS Rounded 1c';
  margin-bottom: 30px;
}

#meeting-title {
  text-align: center;
  font-size: 25px;
  font-family: 'M PLUS Rounded 1c';
}

/* 面談日時登録ページ */

#content-left {
  font-size: 20px;
}

#kouho {
  font-size: 20px;
}

#datepicker-submit {
  text-align: center;
  margin-top: 20px;
}

/* 面談時間登録ページ */

.box{
  display: table-cell;  // 横揃え
  text-align: center;
}

/* datepicker */

.ui-datepicker .ui-datepicker-header {  //header部分
    position: relative;
    padding: .2em 0;
    font-size: 18px;
}

.ui-widget-header {   //header部分
    border: 1px solid #d4ccb0/*{borderColorHeader}*/;
    background: #ece8da/*{bgColorHeader}*/ /*{bgImgUrlHeader}*/ /*{bgHeaderXPos}*/ /*{bgHeaderYPos}*/ /*{bgHeaderRepeat}*/;
    color: #433f38/*{fcHeader}*/;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c';
}

.ui-widget-content {    //全体背景など
    border: 1px solid #dfd9c3;
    background: #f5f3e5;
    color: #312e25;
}

.ui-datepicker table {  //カレンダー日付部分
    font-size: 18px;
    font-family: 'M PLUS Rounded 1c';
    margin: 0 0 .4em;
}

.ui-state-default {  //日付セルの高さ
  height: 45px;
}

div.ui-datepicker {   //全体サイズなど
  margin: auto;
  font-size: 18px;
  width: 60%;
  height: auto;
}

/* 日曜日のカラー設定 */
td.ui-datepicker-week-end:last-child a.ui-state-default{
  background-color: #ffecec;   /* 背景色を設定 */
  color: #f00!important;       /* 文字色を設定 */
}
/* 土曜日のカラー設定 */
td.ui-datepicker-week-end a.ui-state-default{
  background-color: #eaeaff;   /* 背景色を設定 */
  color: #00f!important;       /* 文字色を設定 */
}
/* ホバー時の動作 */
td.ui-datepicker-week-end a.ui-state-hover{
  opacity: 0.8;
}
/* 当日を示す色はそのまま */
td.ui-datepicker-week-end a.ui-state-highlight{
  background-color: #fffa90!important;
}

/* table */

.meeting-table {
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c';
  text-align: center;
}

/* 保護者面談管理ページ */

#yoyaku-count {
  display: inline-block;
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c';
}

/* 希望日モーダル */

.meeting-modal-title {
  text-align: center;
  font-size: 25px;
  font-family: 'M PLUS Rounded 1c';
}

.modal-desired {
  text-align: center;
}

.form-desired {
  width: 300px;
  margin: auto;
}

#desired-button {
  margin-top: 20px;
  .btn {
    width: 30%;
  }
}

/* ボタン */

#submit-center {
  text-align: center;
  margin-top: 20px;
}

.submit-width {
  width: 30%;
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c';
}

.select-font {
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c';
}
