
/* ページタイトル */

#meeting-top-title {
  text-align: center;
  font-size: 50px;
  font-family: 'M PLUS Rounded 1c';
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 8px;
  font-weight: bold;
}

#meeting-title {
  text-align: center;
  font-size: 25px;
  font-family: 'M PLUS Rounded 1c';
}

/* content整え */

#content-meeting {
  width: 70%;
  margin: auto;
  margin-top: 5%;
}


/* 背景 */

.meeting-back {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background: #fcd69e;
  box-shadow: 0px 0px 0px 10px #fcd69e;
  border: dashed 2px #ffffff;
  border-radius: 8px;
  padding-bottom: 20px;
}

.meeting-back2 {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background: #ead7a4;
  box-shadow: 0px 0px 0px 10px #ead7a4;
  border: dashed 2px #ffffff;
  border-radius: 8px;
  padding-bottom: 20px;
}

.meeting-time {
  position: relative;
  background: #c6e4ff;
  box-shadow: 0px 0px 0px 5px #c6e4ff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
}
.meeting-time:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #c6e4ff #fff #c6e4ff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.meeting-date {
  position: relative;
  background: #ffb6c1;
  box-shadow: 0px 0px 0px 5px #ffb6c1;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
}

.meeting-date:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffb6c1 #fff #ffb6c1;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.meeting-edit {
  position: relative;
  background: #dbebc4;
  box-shadow: 0px 0px 0px 5px #dbebc4;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
  margin-top: 5%;
}

.meeting-edit:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #dbebc4 #fff #dbebc4;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.meeting-status{
  padding: 0.5em 1em;
  margin: 1em 0;
  background: #f4f4f4;
  border-left: solid 6px #5bb7ae;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

.meeting-index {
  position: relative;
  background: #dbebc4;
  box-shadow: 0px 0px 0px 5px #dbebc4;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
}

.meeting-index:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #dbebc4 #fff #dbebc4;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.meeting-user {
  position: relative;
  background: #dbebc4;
  box-shadow: 0px 0px 0px 5px #dbebc4;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
}

.meeting-user:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #dbebc4 #fff #dbebc4;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}


/* 面談日時登録ページ */

#content-left {
  font-size: 20px;
}

#kouho {
  font-size: 20px;
}

#datepicker-submit {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}


/* 面談時間登録ページ */

.box{
  display: table-cell;  // 横揃え
  text-align: center;
}

/* datepicker */

.ui-widget-header {   //header部分
    border: 1px solid #9acd32/*{borderColorHeader}*/;
    background: #9acd32/*{bgColorHeader}*/ /*{bgImgUrlHeader}*/ /*{bgHeaderXPos}*/ /*{bgHeaderYPos}*/ /*{bgHeaderRepeat}*/;
    color: #ffffff/*{fcHeader}*/;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c';
}

.ui-widget-content {    //全体背景など
    border: 1px solid #dfd9c3;
    background: #f5f3e5;
    color: #312e25;
}

.ui-datepicker table {  //カレンダー日付部分
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c';
  margin: 0 0 .4em;

}

.ui-state-default {  //日付セルの高さ
  height: 45px;
}

div.ui-datepicker {   //全体サイズなど
  margin: auto;
  font-size: 18px;
  width: 70%;
  height: auto;
}

#ui-datepicker-div {   //ポップアップ後のdatepicker
  width: 30%;
}

/* 日曜日のカラー設定 */
td.ui-datepicker-week-end:last-child a.ui-state-default{
  background-color: #ffecec;   /* 背景色を設定 */
  color: #f00!important;       /* 文字色を設定 */
}
/* 土曜日のカラー設定 */
td.ui-datepicker-week-end a.ui-state-default{
  background-color: #eaeaff;   /* 背景色を設定 */
  color: #00f!important;       /* 文字色を設定 */
}
/* ホバー時の動作 */
td.ui-datepicker-week-end a.ui-state-hover{
  opacity: 0.8;
}
/* 当日を示す色はそのまま */
td.ui-datepicker-week-end a.ui-state-highlight{
  background-color: #fffa90!important;
}

/* table */

.meeting-table {
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c';
  text-align: center;
}

.scroll-table {
    overflow: auto;
    white-space: nowrap;
    border: solid 1px #ddd;
    table {
      margin: 0;
      border: none;
    }
    -webkit-overflow-scrolling: touch;
  }

/* 保護者面談管理ページ */

#yoyaku-count {
  display: inline-block;
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c';
}

/* 希望日モーダル */

.meeting-modal-title {
  text-align: center;
  font-size: 25px;
  font-family: 'M PLUS Rounded 1c';
}

.modal-desired {
  text-align: center;
}

.form-desired {
  width: 300px;
  margin: auto;
}

#desired-button {
  margin-top: 20px;
  .btn {
    width: 30%;
  }
}

/* ボタン */

#submit-center {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  .btn-lg {
    font-family: 'M PLUS Rounded 1c';
  }
}

.submit-width {
  width: 30%;
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c';
}

.submit-single {
  width: 40%;
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c';
}

.submit-edit {
  width: 40%;
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c';
}

.select-font {
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c';
  cursor: pointer;
}

.not-time-select {
  width: 300px;
}


/* 面談スケジュール調整ページ */

#meeting-index {
  width: 12%;
}

.select-width {
  width: 90%;
}

/* スマートフォン対応 */

@media screen and (max-width:767px){
  #meeting-top-title{
    font-size: 24px;
  }
  #meeting-title {
    font-size: 18px;
  }
  #content-meeting {
    width: 100%;
  }
  #content-left,#kouho {
    font-size: 13px;
  }
  div.ui-datepicker {   //全体サイズなど
    font-size: 13px;
    width: 100%;
  }
  .meeting-table {
    font-size: 14px;
  }
  .submit-width {
    font-size: 14px;
  }
  .submit-single {
    width: 100%;
    font-size: 14px;
  }
  .select-font {
    font-size: 13px;
  }
  .submit-edit {
    width: 100%;
    font-size: 14px;
  }
  #submit-center {
    .btn-lg {
      font-size: 14px;
    }
  }
  #line-btn {
    margin-top: 2%;
  }
  #scroll-ajust {
    text-align: left;
    padding-left: 10%;
  }
  #ui-datepicker-div {   //ポップアップ後のdatepicker
    width: 80%;
  }
  #content-meeting {
    #meeting-title {
      font-size: 15px;
    }
  }
  #yoyaku-count {
    font-size: 9px;
  }
  .not-time-select {
    width: 170px;
  }
  .not-time-select, .select2-selection {
    font-size: 10px;
  }
  .schedule-btn {
    font-size: 14px;
  }
}
