.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-login {
  margin-top: 5px;
}

.btn-login {
  margin-top: 10px;
}

.checkbox-login {
  width: auto;
  margin-left: 25px;
  span {
    font-weight: normal;
  }
}
.label-login{
  margin-top: 5%;
  background-color: #d0d0d0;
  padding: 2px 0;
  margin-bottom: 2%;
  color: brown;
}
.label-login_teacher{
  margin-top: 5%;
  background-color: #0000CD;
  padding: 2px 0;
  margin-bottom: 2%;
  color: #fff;
}
.login_field{
  width: 100%;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  
  font-size: 24px;
  margin-top: 2%;
  outline: 0;
}
.person_icon i {
  font-size: 60px;
  border-radius: 50%;
  background-color:pink;
  padding: 24px;
  margin-bottom: -1%;
  margin-top: -1%;
}
.person_icon_teacher i{
  font-size: 60px;
  border-radius: 50%;
  background-color: #B0C4DE;
  padding: 24px;
  margin-bottom: -1%;
  margin-top: -1%;
}
