
/* 教員トップページ */

#teacher-top {
  text-align: center;
  #one,#two,#three,#four,#five {
    margin-top: 20px;
    .top-button {
      width: 40%;
      font-size: 18px;
      font-family: 'M PLUS Rounded 1c';
    }
    .last {
      width: 80%;
      font-size: 18px;
      font-family: 'M PLUS Rounded 1c';
    }
  }
}
.meeting-top-title{
  color: #fff;
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 10px;
}
.teacher_menu_title{
  background-color: darkorange;
  border-left: solid 4px blue;
  font-weight: bold;
  padding: 10px 10% 10px 10%;
  margin-left: 17%;
  margin-bottom: 1%;

}

.teacher_link_icon{
  font-size: 80px;
  color: rgba(244, 248, 16,1);
  margin-left: -40%;
  padding: 10px;
  border-radius: 50%;
}
.teacher_icon_title{
  color: rgba(255, 255, 255,1);
  font-weight: bold;
  font-size: 15px;
  margin-left: -50%;
}
.teacher_link_icon:hover{
  background-color: cyan;
}

/* teacher-top*/
.box_srcollbar {
  overflow:auto;
  width:600px;
  height:300px;
  padding:5px;
  border:1px solid #000;
  background-color:rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  box-shadow: 2px 2px 4px 4px #000;
  color:#000;
  font-size:15px;
  margin: 0 auto;
  margin-bottom: 4%;
  max-width:100%;
  font-family: 'M PLUS Rounded 1c';
}

.box_title{
  padding:5px;
  width:600px;
  font-weight:bold;
  font-size:18px;
  font-family: 'M PLUS Rounded 1c';
  border-bottom: 1px dotted #a0a0a0;
  background-color:rgba(155, 135, 135, 0);
  padding-bottom: 10px;
  color:#fff;
  text-align: center;
  margin: auto;
}
/* 保護者一覧ページ*/

.users-table {
  width: 100%;
  font-size:18px;
  margin: auto;
  font-family: 'M PLUS Rounded 1c';
}

#users-thead {
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#full_user {
  max-width: 100%;
}

.user-info {
  cursor: pointer;
}

.user-info.moji {
  color: red;
}


/*---------- #menu ----------*/
#menu {
  width: 100%;
  max-width: 250px;
  height: 100%;
  background: #EDE574;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translate(250px);
  transition: all .5s;
}
#menu.open {
  transform: translate(0);
}
#menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#menu li {
  padding: 8px;
  color: black;
  // border-bottom: 1px solid black;
}

#menu li#menu-title {
  color: #FFFFFF;
  background: #283048;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* --- .menu-background --- */
.menu-background {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s;
}
.menu-background.open {
  width: 100%;
  height: 100%;
  opacity: 1;
}

/* スマートフォン対応 */

@media screen and (max-width:767px){
  .meeting-top-title{
    font-size: 28px;
  }
  #teacher-top{
    #one,#two,#three,#four,#five{
      margin-top: 0px;
      .top-button {
        width: 100%;
        height: 45px;

      }
    }
  }
  .box_srcollbar{
    height: 200px;
  }
  .box_title{
    height: 50px;
    
  }
  #teacher_bt{margin-bottom: 5%;height:45px;font-weight:bold;}
  .smart-cell {
    display: none;
  }
  .teacher_link_icon{
    margin-left: 10%;
  }
  .teacher_icon_title{
    margin-left: 2%;
    margin-bottom: 3%;
    font-size: 16px;
  }
  .teacher_menu_title{
    width: 100%;
    margin-left: 0;
    margin-top: 10%;
    padding-left: 40%;
  }
}
