
/* 保護者トップページ */
#user-top {
  text-align: center;
  #one,#two,#three,#four,#five,#six {
    margin-top: 20px;
    .top-button {
      width: 50%;
      font-size: 18px;
      font-family: 'M PLUS Rounded 1c';
    }
  }
}

.line-friend {
  text-align: center;
  margin-bottom: 3%;
}

/* user show */
.user_show_title{
  font-size: 32px;
  background-color: pink;
  border-radius: 6px;
  font-weight: bold;
  color: #3c1585d5;
  letter-spacing: 8px;
  padding: 12px 0;
  margin-left: 16%;
  margin-bottom: 5%;
  width: 70%;
  .user_title-border{
    border: 2px dotted #b895f5d5;
    padding: 8px 0;
    margin-left: 3%;
    width: 95%;
  }
}
.user_icon_area{
  background: rgba(29, 236, 10, 0.9);
  border-radius: 8px;
  box-shadow:2px 3px 4px 5px green;
  padding: 20px 0;
}
.user_link_icon{
  font-size: 80px;
  color: rgb(11, 33, 235);
  margin-left: -25%;
  padding: 20px;
  border-radius: 50%;
  text-decoration: none;
}
.user_icon_title{
  color: rgb(11, 33, 235);
  font-weight: bold;
  font-size: 16px;
  margin-left: -40%;

}
.user_link_icon:hover{
  background-color: cyan;
  text-decoration: none;
}
.user_link_icon:visited{
  text-decoration: none;
}
.user_area_label{
  background-color: red;
  padding: 10px 10% 10px 10%;
  border-bottom: 4px solid blue;
  margin-top: -5%;
  margin-bottom: 3%;

}
/*保護者新規登録 */
.meeting-top-title{
  color:#3333FF;

}
.new_user_label{
  background: #0000CD;
  border-left: 4px solid #FF0000;
  color: #fffeee;
  padding: 2px 10% 2px 10px;
  margin-bottom: 3%;
}

/* user show */
/* 生徒登録/編集ページ */

#child-signup {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: 'M PLUS Rounded 1c';
}
/* 保護者回答フォーム */
.document_user_answer_title{
  font-size: 40px;
  margin-bottom: 1%;
}
.document_user_answer_pc_button{
  width: 15%;
  margin: 3% 0 1% 0;

}
/*表示式*/

.document_user_pdf_download_p{
  color:blue;
}
.document_user_answer_phone_button{display: none;}
/*入力式*/

.document_user_anser_input_label{
   background: chocolate;
   border-left:4px solid blue;
   color: floralwhite;
   padding: 5px 10px 5px 10px;
   margin-bottom: 1%;
}

/* 先生からのお便りページ */
.pm-content {
  text-align: left;
  border-bottom: dotted 2px #223a70;
  background: #eaedf7;
  padding-bottom: 1%;
}

.pm-reply {
  text-align: left;
  background: #fddea5;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* 先生からのお便りページ背景 */
.tm-back{
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #e4fcff;/*背景色*/
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}

.pm-back{
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #f1bf99;/*背景色*/
    border-top: solid 6px #df7163;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}
/*保護者提出一覧ページ*/


.user_document_all_row{  /*row*/
  background-color: #f0f0f0;
  border: 1px solid #1dc1d6;
  box-shadow: 2px 1px 2px 3px #c0c0c0;
}
.document_jyoukyou_h2{ /*提出状況h2*/
  background-color: #9999CC;
  border-left: 4px solid #A0522D;
  color: #F8F8FF;
  margin-left: 27%;
  padding: 10px 0;
  width: 40%;
}
.document_user_all_pc_btn{ /*戻るボタンpc*/
  margin-top: -1%;
}
.document_user_all_phone_btn{ /*戻るボタンphone*/
   display: none;
}

/* ------   スマートフォン -------   */
@media screen and (max-width:767px){
  /* user show */
  .user_show_title{
    font-size: 18px;
    color: #3c1585d5;
    letter-spacing: 0;
    background-color: pink;
    width: 100%;
    margin: 0;
    margin-top: 10%;
    margin-bottom: 6%;
  }
  /* user show */
  #user-top {
    text-align: center;
    #one,#two,#three,#four,#five,#six {
      margin-top: 10px;
      .top-button {
        width: 100%;
        height: 45px;
        font-size: 18px;
        font-weight: bold;
        font-family: 'M PLUS Rounded 1c';

      }
    }
  }
  .user_link_icon{
    margin-right:2%;
  }
  .user_icon_title{
    font-size: 12px;
    font-weight: bold;
    margin-left:-10%;
    width: 100%;
  }

  .box_title{
    max-width: 100%;
  }
  .box_srcollbar{margin-bottom: 5%;}

  /* 保護者回答フォーム */
  .document_user_answer_title{
    font-size: 22px;
    margin-bottom: 15%;
  }
  .document_user_answer_pc_button{display: none;}
  .document_user_answer_phone_button{
    display: block;
    width: 100%;
    padding: 20px 0;
  }
  .document_user_pdf_download_p{ /*表示式*/
    font-size: 10px;
  }
  /*入力式*/
  .document_user_anser_input_label{
    padding: 2% 10px 2% 10px;
    margin-bottom: 3%;
  }
  .document_user_answer_submit{
    margin-top: -5%;
  }
  /* 先生からのお便り */
  .message-content {
    width: 10%;
  }
  /*保護者提出一覧ページ*/
  .document_user_all_h1{ /*見出し*/
    font-size: 28px;
  }
  .document_jyoukyou_h2{ /*提出状況h2*/
    margin: 0;
    margin-bottom: 3%;
    width: 100%;
  }
  .document_user_all_pc_btn{ /*戻るボタンpc*/
    display: none;
  }
  .document_user_all_phone_btn{
    background-color: #c0c0c0;
    display: block;
    padding: 20px 0;
    width: 100%;
  }
  .document_user_all_phone_table_td_div{
    border-bottom: 1px solid #a0a0a0;
    font-weight: bold;
    font-size: 16px;
    margin-top: -15%;
    margin-bottom: 2%;
    padding-bottom: 1%;
  }

}
@media screen and (min-width:566px) and (max-width:767px){
  .document_user_all_phone_table_td_div{
    max-width: 100%;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 10%;


  }
}
