
/* 保護者トップページ */

#user-top {
  text-align: center;
  #one,#two,#three,#four,#five,#six {
    margin-top: 20px;
    .top-button {
      width: 50%;
      font-size: 18px;
      font-family: 'M PLUS Rounded 1c';
    }
  }
}

/* 生徒登録/編集ページ */

#child-signup {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: 'M PLUS Rounded 1c';
}
