
/* 保護者トップページ */

#user-top {
  text-align: center;
  #one,#two,#three,#four,#five,#six {
    margin-top: 20px;
    .top-button {
      width: 50%;
      font-size: 18px;
      font-family: 'M PLUS Rounded 1c';
    }
  }
}
