<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>面談のお知らせです。</h1>
    <p>
      <%= @username %>さん

      面談日時が確定いたしました。<br>
      下記URLからサイトにアクセスして、ご確認ください。<br>

      学校の面談と提出アプリ<br>
      https://school-app-pta.herokuapp.com/<br>

      よろしくお願いいたします。
    </p>
  </body>
</html>
