<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>面談のお知らせです。</h1>
    <p>
      <%= @username %>さん

      面談日時が決まりました。
      下記URLからサイトにアクセスして、面談の予約をご登録下さい。

      学校の面談と提出アプリ
      https://school-app-pta.herokuapp.com/

      よろしくお願いいたします。
    </p>
  </body>
</html>
