<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>提出物のお知らせです。</h1>
    <p>
      <%= @user_name %>さん<br>
      新しい提出書類がございます。<br>
      下記URLからご確認のお願いいたします。<br>

      学校の面談と提出アプリ<br>
      https://school-app-pta.herokuapp.com/<br>

      よろしくお願いいたします。
    </p>
  </body>
</html>
