<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>面談日時確定のお知らせです。</h1>
    <p>
      <%= @user_name %>さん<br>
      面談日時が確定いたしました。<br>
      下記URLからご自身の面談日時をご確認ください。<br>

      学校の面談と提出アプリ<br>
      https://school-app-pta.herokuapp.com/

      よろしくお願いいたします。
    </p>
  </body>
</html>
